.app-container{
  display: flex;
}

.content{
  width:100%;
}

.sidebar{
  min-height: 800px;
  width:200px !important;
}

.post-card{
 
    width: 30rem !important;
    margin: 20px 40px;
}

.hastag{
  margin:0px 3px;
}

.reaction{
 width:100%;
 margin:15px 0 0 0;
}

.deletepostbtn:hover{
   cursor:pointer;
}

.createPost{
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.welcomemessage{
  margin:100px 0px;
}